# AZURE_CLIENT_ID 	ID of a Microsoft Entra application
# El appId que obtienes al crear el Service Principal
export AZURE_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# AZURE_TENANT_ID 	ID of the application's Microsoft Entra tenant 
# El tenant que te muestra al crear el Service Principal. También lo consigues accediendo a Microsoft Entra desde el portal de Azure
export AZURE_TENANT_ID="yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy"

# AZURE_CLIENT_CERTIFICATE_PATH 	path to a PEM or PKCS12 certificate file including private key
export AZURE_CLIENT_CERTIFICATE_PATH="/opt/app/creds/sp-kv.pem"
