# AZURE_CLIENT_ID 	ID of a Microsoft Entra application
export AZURE_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
# AZURE_TENANT_ID 	ID of the application's Microsoft Entra tenant
export AZURE_TENANT_ID="yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy"
# AZURE_CLIENT_CERTIFICATE_PATH 	path to a PEM or PKCS12 certificate file including private key
export AZURE_CLIENT_CERTIFICATE_PATH="/opt/app/creds/sp-kv.pem"
